/* tablet and mobile 1023px*/
@media (max-width: 63.9375em){
    #nav .subnav a{
        padding:5px 12px;
    }
    .place-buy-btn{
        padding:15px 16px;
    }
    .contact-form .form-control{
        padding:15px;
    }
    .contact-info{
        line-height: 2;
    }

    .socials-list{
        
        font-size: 48px;
    }
    #footer .socials-list a {
        margin:0 8px;
    }
    #footer .copyright a{
        padding: 12px 0;
        display:inline-block;
    }
}

/* tablet */
/* 740px và 1023px */
@media (min-width:46.25em) and (max-width:63.9375em){
    .contact-info{
        line-height: 2;
    }
}

/* mobile */
@media (max-width: 46.1875em){
    .s-coll-full{
        width:100%;
    }
    /* trong thẻ nav có thẻ li có css display:inline-block 
    nên vào đây dùng display:block để hiện menu dọc  */
    #nav > li{
        display:block;
    }
    #nav{
        display:block;
    }

    #nav > li:first-child{
        display:inline-block;
    }
    #nav li a{
        padding:1px 24px;
    }

    #nav .subnav{
        position:initial;
        background-color:#333;
    }
    #nav .subnav a{
        color:#fff;
        padding:5px 41px;
    }

    #header{
        overflow:hidden;
    }
    #header .search-btn{
        /* ẩn nút search */
        display:none;
    }

    #header .mobile-menu-btn{
        display:block;
    }

    #contact .content-section {
        width: 800px; 
    }
    .element {
        width: auto;
    }
    /*  */
    .col-hafp {
        width: 100%;
    }
    #content .member-item{
        margin-top:30px;
        width:100%;
    }
    #content .member-img{
        width:60%;
    }
    .contact-form{
        margin-top: 32px;
    }
}
