/* Reset Css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan tới chi tiết
*/
/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông,..)
 */
html{
    scroll-behavior: smooth;
    font-family: Helvetica; 
    /* thẻ html để các thẻ có chữ sẽ có css này */
}


.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease .5s;
}

@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

.modal-footer{
    text-align: right;
    padding: 16px;
}
.modal-footer a{
    color: #2196F3;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}


.col-third{
    width: 33.333%;
}
.col-hafl{
    width: 50%;
}
.col-full{
   width:100%;
}

.clear{
    clear: both;
}
.text-center{
    text-align: center !important;
}
#main {
    
}
/* Contact */
.contact-content{
    /* margin: 48px; */
    margin-top:20px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color:#101aef;
    opacity:0.8;
}

.contact-info a:hover{
    opacity:1;
}

.contact-form{
    font-size: 15px;
    float: right;
}

.contact-form .form-control{
    padding: 10px ;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    border: none;
    color: #fff;
    background-color: #000;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.text-white{
    color: #fff !important;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* Do khi cuộn ảnh đè lên header nên dùng z-index để khắc phục điều đó */
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav{
    display: block;
}

#nav .nav-arrow-down{
    font-size: 15px;
}

#nav .subnav a{
    color: #000 ;
    padding: 0px 12px;
    line-height: 38px;
    min-width: 160px;
    top: 100%;
    left: 0;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

/* sửa lỗi ko hiện menu */
#header .mobile-menu-btn{
    position: absolute;
    top:0;
    right:0;
    display:none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    line-height: 46px;
    padding: 0px 21px;
}


#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover  .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    
}

#slider {
    /* min-height: 500px;
    background-color: #333; */
    margin-top: 46px;
    padding-top: 50%;
    /* Chiều cao luôn bằng 1/2 chiều rộng */
    background: url('../img/slider_1.jpg') top center / cover no-repeat ;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

#content {
    
}

#content .content-section{
    max-width: 800px;
    width:100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


#content .section-heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    font-size: 15px;
    text-align: justify;
    margin-top: 25px;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 48px;
    overflow: hidden;
}

#content .member-name{
    font-size: 15px;
    
}

#content .member-img{
    margin: 15px;
    width: 154px;
    border-radius: 4px;
}



/* Tour section */

.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

/* Places */

.places-list{
    margin-top: 16px;
    margin-bottom: 48px;
}

 .place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}
 .place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
 .place-heading{
    font-size: 15px;
    font-weight: 600;
    
}
 .place-time{
    margin-top: 15px;
    color: #757575;
}
 .place-desc{
    margin-top: 15px;
    line-height: 1.4;
    
}
 .place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
    /* text-decoration: none; */
}